<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BS61F0LQS6"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-BS61F0LQS6');
        </script>
        <title>{{.Title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <button class="back-button" onclick="window.history.back()" title="Назад">&larr;</button>
            <h1>{{.Title}}</h1>
        </header>
        <main>
            <article>
                <audio controls src="{{ .Site.Params.Media }}{{.Params.Audio}}">
                    <a href="{{ .Site.Params.Media }}{{.Params.Audio}}">Скачать mp3 файл подкаста</a>
                </audio>
                {{.Content}}
            </article>
        </main>
        {{ partial "footer.html" . }}
        {{ partial "scrolltotop.html" . }}
    </body>
</html>
